body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    height: 50px;
    width: 100px;
}

main {
    height: 500px;
    width: 800px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 15em auto;
}

form#my-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: inherit;
    background-color: khaki;
}

.inputs {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.buttons {
    justify-content: flex-end;
}