body {
    min-height: 110vh;
    font-size: 200%;
    margin: 0;
}

section {
    width: 50%;
    margin: 0 auto;
}

p {
    text-align: justify;
    text-justify: inter-word;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 1.2em 1em 0.5em;
    border-bottom: 1px solid black;
    position: sticky;
    top: 0;
}

a {
    text-decoration: none;
}