body {
    font-family: Verdana;
    margin: 0;
    padding: 0;
}

header {
    background-color: #9692B1;
    color: white;
    text-align: center;
    height: 10vh;
}

nav {
    float: left;
    background-color: #9692B1;
    color: white;
    width: 20%;
    height: 750px;
}


#pg {
    float: left;
    background-color: #FFF4CC;
    width: 100%;
    height: 350px;
    text-align: center;
}

#pd {
    float: right;
    background-color: #DBCC93;
    width: 100%;
    min-height: 60vh;
    height: 100%;
    text-align: center;
}

#pg img {
    width: 15%;
    margin: 20px;
}

#pd img {
    border: 4px solid #9692B1;

}

#pd img:hover {
    border: 4px solid grey;
}