body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}

.baner {
    background-color: #824555;
    color: white;
    text-align: center;
    padding: 20px;
}

.pierwszy,
.drugi {
    background-color: #A26475;
    color: white;
    width: 30%;
    height: 300px;
}

.trzeci {
    background-color: #A26475;
    color: white;
    width: 40%;
    height: 300px;
    text-align: right;
}

.panel-glowny {
    background-color: #F0EAE2;
    padding: 50px;
}

.stopka {
    background-color: #824555;
    color: white;
    text-align: center;
    padding: 20px;
}

table,
th,
td {
    border: 2px solid #69293A;
    padding: 7px;
    border-collapse: collapse;
}

ul>li {
    list-style-type: square;
}

#red {
    background-color: red;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

div.panel-glowny>p>button {
    height: 18px;
}

.panel-gorny {
    display: flex;
}